<!DOCTYPE HTML>
<html>
  <head>
   <meta charset="utf-8">
   <title>Training</title>
   <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/main.css">
  </head> 
  <body>
    <div class="content-container">
      <header>
        <div class="logo"><img src="img/logo.png" class="logo-img"></div>
      </header>
      <main>
        <div class="main-content">
          <div class="left-sidebar">
            <h3>Next Set</h3>
            <div>Level: <span class="bold">2</span></div>
            <div>Number of trials: <span class="bold">24</span></div>
            <div>Trial Time: <span class="bold">3 s.</span></div>
            <div>Set duration: <span class="bold">1 m. 12 s.</span></div>
            <hr class="my-3">
            <h3>Today's Sets</h3>
            <div class="today-sets">
              <div class="today-sets-row-success">
                <span class="set-num">1.</span>
                <span class="set-type">D2B</span>
                <span class="set-rate">100%</span>
                <span class="set-time">15 s.</span>
              </div>
              <div class="today-sets-row-fail">
                <span class="set-num">2.</span>
                <span class="set-type">D2B</span>
                <span class="set-rate">0%</span>
                <span class="set-time">15 s.</span>
              </div>
              <div class="today-sets-row">
                <span class="set-num">3.</span>
                <span class="set-type">D2B</span>
                <span class="set-rate">50%</span>
                <span class="set-time">15 s.</span>
              </div>
            </div>
            <div style="margin-top: 10px;">Last Set (total/errors):<br>
            Audio: 1/0; Position: 1/0;</div>
            <hr class="my-3">
            <h3>Today's Statistics</h3>
            Started: <span class="bold">2019-04-14 17:40:35</span><br>            
            Duration: <span class="bold">15 s.</span><br>
            N-Back Avg: <span class="bold">3.0</span>; Max: <span class="bold">3.0</span><br>
          </div>

          <div class="game-content">

            <div class="game-mode">
              <div class="nback-sel-holder">
                  Type: <a href="#" title="Click to change" id="lnk-type" class="lnk-nback-type">Dual</a>&nbsp;&nbsp;&middot;&nbsp;
                  N-Back:
                  <select id="nBack" class="sel-nback">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>

                  </select>
                </div>
              </div>


              <div class="game">
                <div class="alerts-container" style="display: none;">
                  <div class="alert alert-success">
                    <strong>N-Back Level Increased</strong>&nbsp;New level is 1
                  </div>
                  <div class="alert alert-info">
                    <strong>Game Type Changed</strong>&nbsp;New type is Five(A2P2C2S2N2)
                  </div>
                  <div class="alert alert-danger">
                    <strong>N-Back Level Decreased</strong>&nbsp;New level is 1
                  </div>
                </div>

                <div class="start-button-container">
                  <div class="start-button">
                    <span class="start-button-capture-first">Press the Spacebar to start training</span> 
                    <span class="start-button-capture-second">or click this message</span>
                  </div>
                </div>
                <table class="game-table" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr id="row-1">
                    <td id="col-1-1" class="sq sq-v1 sq-h1">&nbsp;</td>
                    <td id="col-2-1" class="sq sq-v1 sq-h2">&nbsp;</td>
                    <td id="col-3-1" class="sq sq-v1 sq-h3">&nbsp;</td>
                    </tr>
                    <tr id="row-2">
                    <td id="col-1-2" class="sq sq-v2 sq-h1">&nbsp;</td>
                    <td id="col-2-2" class="sq sq-v2 sq-h2"><div class="square"></div></td>
                    <td id="col-3-2" class="sq sq-v2 sq-h3">&nbsp;</td>
                    </tr>
                    <tr id="row-3">
                    <td id="col-1-3" class="sq sq-v3 sq-h1">&nbsp;</td>
                    <td id="col-2-3" class="sq sq-v3 sq-h2">&nbsp;</td>
                    <td id="col-3-3" class="sq sq-v3 sq-h3">&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="game-buttons">
                <button id="lbl-pos" class="btn btn-outline-success match-key match-key-left" style="display: inline-block;">
                <span class="lbl-key" id="lbl-pos-key">A</span>: Position Match
                </button>
                <button id="lbl-snd" class="btn btn-outline-success match-key" style="display: inline-block;">
                <span class="lbl-key" id="lbl-snd-key">L</span>: Audio Match
                </button>
                <button id="lbl-number" class="btn btn-outline-primary match-key" >
                <span class="lbl-key" id="lbl-number-key">D</span>: Number Match
                </button>
                <button id="lbl-color" class="btn btn-outline-primary match-key" >
                <span class="lbl-key" id="lbl-color-key">F</span>: Color Match
                </button>
                <button id="lbl-shape" class="btn btn-outline-primary match-key" >
                <span class="lbl-key" id="lbl-shape-key">J</span>: Shape Match
                </button> 
              </div>


          </div>

          <div class="right-sidebar">
            <h3>Settings</h3>
            <h4 style="color: #00bc8c;">Trial time</h4>
            <div class="form-group">
              <div class="custom-control custom-radio" style="display: inline-block">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                <label class="custom-control-label" for="customRadio1">Static</label>
              </div>
              &nbsp;&nbsp;
              <div class="custom-control custom-radio" style="display: inline-block">
                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2">Dynamic</label>
              </div>
            </div>
            <div class="settings-prop">Time initial (ms):</div>
            <input class="form-control form-control-sm" type="text" value="3000" id="inputSmall" style="width: 52px; display: inline-block;">
            <div class="settings-prop">Time increment (ms):</div>
            <input class="form-control form-control-sm" type="text" value="100" id="inputSmall" style="width: 52px; display: inline-block;">
            <hr class="my-2">
            <h4 style="color: #00bc8c;">Number of trials</h4>
            <div class="settings-prop">number - factor - exponent:</div><br>
            <input class="form-control form-control-sm" type="text" value="20" id="inputSmall" style="width: 52px; display: inline-block;"> - 
            <input class="form-control form-control-sm" type="text" value="1" id="inputSmall" style="width: 52px; display: inline-block;"> - 
            <input class="form-control form-control-sm" type="text" value="2" id="inputSmall" style="width: 52px; display: inline-block;">
            <hr class="my-2">
            <h4 style="color: #00bc8c;">Thresholds</h4>
            <div class="settings-prop">Threshold advance:</div>
            <input class="form-control form-control-sm" type="text" value="80" id="inputSmall" style="width: 35px; display: inline-block;">
            <div class="settings-prop">Threshold fallback:</div>
            <input class="form-control form-control-sm" type="text" value="50" id="inputSmall" style="width: 35px; display: inline-block;">
            <div class="settings-prop">Fallback count:</div>
            <input class="form-control form-control-sm" type="text" value="3" id="inputSmall" style="width: 35px; display: inline-block;">
            <hr class="my-2">
            <h4 style="color: #00bc8c;">Feedback</h4>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
              <label class="custom-control-label" for="customCheck1">Show feedback on error</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
              <label class="custom-control-label" for="customCheck2">Show feedback on key press</label>
            </div>
            <hr class="my-2">
            <h4 style="color: #00bc8c;">Sound volume: 100%</h4>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-box">
          <div class="footer-link"><a href="https://github.com/R9c8/dual-n-back-redux">Terms</a></div>
          <div class="footer-link"><a href="https://github.com/R9c8/dual-n-back-redux">About</a></div>
          <div class="footer-link"><a href="https://github.com/R9c8/dual-n-back-redux">GitHub</a></div>
        </div>
      </footer>
    </div>
  </body>
</html>